
# root
x64/
.vs/

# RoboticUserInterface
RoboticUserInterface/x64/
RoboticUserInterface/build/
RoboticUserInterface/.vs
RoboticUserInterface/x64-Debug

# RoboticUserInterfaceTest
RoboticUserInterfaceTest/x64/
RoboticUserInterfaceTest/build/

